# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules*
Hulk/node_modules*
/bower_components*

# testing
/coverage

# production
/build*
/dist*

# misc
.DS_Store
.env*.local

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lint cache
.eslintcache

# local doc
*local.md
*LOCAL.md

# line counter ext
out/*

# nyc
.nyc_output/*

# others
bak
.*.swp
coverage
PLAN.md
